@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*===== BASE =====*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

html, body {
  width: 100%;
  min-height: 100%;
}

body {
  background: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Open Sans', 'Hiragino Sans', "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  -webkit-text-size-adjust: none;
  color: #000000;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.ft-serif {
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
}

a {
  color: #000000;
  text-decoration: none;
}

.trans {
  opacity: 1;
  display: block;
  transition: opacity 0.3s;
}

.trans:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: .8;
  -khtml-opacity: .8;
  opacity: .8;
}

.bold {
  font-weight: bold;
}

.container {
  width: 100%;
  min-width: 0;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.small {
  font-size: small;
}

